{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-12 mb-5">
        <a type="button" class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить статью</a>
    </div>

    {% for object in object_list %}
    <div class="col-3">

        <div class="card mb-4 box-shadow">
            <img src="/media/{{object.image}}/" class="card-img-top" alt="ИЗОБРАЖЕНИЕ">
            <div class="card-body">
                <p class="card-text">
                    {{ object|title}}
                </p>
                <div class="btn-group">
                    <a href="{% url 'blog:view' object.pk %}" type="button" class="btn btn-outline-secondary">View</a>
                    <a href="{% url 'blog:edit' object.pk %}" type="button" class="btn btn-outline-secondary">Edit</a>
                    <a href="{% url 'blog:delete' object.pk %}" type="button" class="btn btn-outline-secondary">Delete</a>
                </div>

            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}