    <h5 class="my-0 mr-md-auto font-weight-normal">MyStore</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:index' %}">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'blog:list' %}">Блог</a>
    </nav>
    <nav class="ms-5">
        {% if user.is_authenticated %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выход</a>

        {% else %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Вход</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}

    </nav>