{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">

            <div class="card-body">
                <h5 class="card-title">{{ object.category_name }}</h5>
                <p class="card-text">{{ object.category_description }}</p>

            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary disabled">Подробно</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}