{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="btn-toolbar mb-5">
        {% if user.is_authenticated %}
        <a href="{% url 'catalog:create' %}" class="btn btn-primary">Создать продукт</a>
        {% endif %}
    </div>
    {% for product in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <img src="{{product.product_image | media_filter}}" class="card-img-top" alt="ИЗОБРАЖЕНИЕ ПРОДУКТА">
            <div class="card-body">
                <h5 class="card-title">{{ product.product_name }}</h5>
                <p class="card-text">{{ product.product_description | truncatechars:100 }}</p>
                {% for version_item in product.version_product.all %}
                {% if version_item.is_current_version == True %}
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>номер версии: {{ version_item.version_number}}</li>
                    <li>имя версии: {{ version_item.version_name}}</li>
                </ul>
                {% endif %}
                {% endfor %}
            </div>
            <div class="card-footer">
                <a href="{% url 'catalog:product' product.pk %}" class="btn btn-primary">Подробно</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}