{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h3 class="card-title">{{ object.product_name }}</h3>
                <img src="{{object.product_image | media_filter}}" class="card-img-top" alt="ИЗОБРАЖЕНИЕ ПРОДУКТА">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Описание: {{ object.product_description}}</li>
                        <li class="list-group-item">Категория: {{ object.product_category }}</li>
                        <li class="list-group-item">Создан: {{ object.product_created_at }}</li>
                        <li class="list-group-item">Дата последнего изменения: {{ object.product_updated_at }}</li>
                    </ul>
                    <div class="btn-toolbar mb-5">

                        {% if user == object.creator or perms.catalog.can_change_is_published or perms.catalog.can_change_product_description or perms.catalog.can_change_product_category %}
                        <a href="{%  url 'catalog:edit' product.pk  %}" class="btn btn-primary">Редактировать</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}